

<div class="container">

      <div class="hero-unit">
        <h1>Welcome to Query music</h1>
        <h2>Project stats<h2>
        <div class = "container">
          <div class="row-fluid show-grid">	
        		<div class="span4">
        			<h4><%=pluralize(@artist_num,'artist')%></h4>
							<h4><%=pluralize(@songs_num,'song')%></h4>
        		</div>
        		<div class="span4">
        			<h4><%=pluralize(@terms_num,'term')%></h4>
        			<h4><%=pluralize(@artist_terms_num,'artist term tag')%></h4>
        		</div>
        		<div class="span4">
        			<h4><%=pluralize(@albums_num,'album')%></h4>
              <h4><%=pluralize(@artist_similarities_num,'artist similarity')%></h4>
        		</div>
        	</div>
        </div>			      	
      </div>

    
      <hr>

      <footer>
        <p>&copy; omri shuva & liron suliman 2013</p>
      </footer>

    </div> <!-- /container -->