<h1><%=headline_fromat(@terms.count,params[:term])%></h1>
  <div class="container-fluid">
    <div class="row-fluid">
      <div class="span3">  
        <h2>term categories</h2>
        <%@categories.each do |category|%>
              <ul class="unstyled">
                <li>
                    <strong>
                      <%=link_to category , terms_path(params.merge({term:category}))%>
                    </strong>
                </li>
              </ul>
          
            
          </strong>
        <% end %>  
     </div>  
    <div class="span9">  
      <table class="table-hover">
        <thead>
          <th><h3>term</h3></th>
            <th><h3>type</h3></th>
            <th><h3>count</h3></th>
        </thead>
        <tbody>
        <tr>
        <% @terms.each do |term| %>
          <td><strong><%=term.term%></strong></td>
          <td>
            <%= form_for(term) do |f| %>
              <div class="row">
                <div class="field">
                  <%=f.text_field :category%>
                </div>
              </div>
              <button class="btn-primary btn btn-mini" type="submit">change category</button>
            <% end %>
          </td>
          <td><%=term.count%></td>
        </tr>
      </tbody>
        <% end %>
      </table>

<br />
