<h4><%= link_to dim.name.to_s, '#', id: "#{dim.name}_button", onclick: "$('#table_#{dim.name}').toggle(); return false;" %></h4>
  <table id="table_<%= dim.name %>" style="display:none;" class="form-inline"> 
    <%dim.table.attributes.each do |attribute|%>
      <tbody>
        <td>
          <%= check_box_tag "selected[#{attribute.attribute_name}]", attribute.attribute_name.to_sym, false, onClick: "
        if($(this).is(':checked')){
          $('#dims_params_#{dim.name}_#{attribute.attribute_name}_value, #dims_params_#{dim.name}_#{attribute.attribute_name}_operator').attr('disabled',false);
        }else{
          $('#dims_params_#{dim.name}_#{attribute}_value, #dims_params_#{dim.name}_#{attribute.attribute_name}_operator').attr('disabled',true);
        };" %>
          <%= attribute.attribute_name %>
          <%= select("dims_params[#{dim.name}][#{attribute.attribute_name}]", "operator",attribute.dim_actions) %>
          <%= text_field "dims_params[#{dim.name}][#{attribute.attribute_name}]", "value",:class=> "input-small" %> 
        </td>
      </tbody>
    <%end%>
  </table>
  <%snow_dim_hidden_field_param(dim) %>
  