<h4><%= link_to dim.name.to_s, '#', id: "#{dim.name}_button", onclick: "$('#table_#{dim.name}').toggle(); return false;" %></h4>
  <table id="table_<%= dim.name %>" style="display:none;" class="form-inline"> 
    <%dim.table.attributes.each do |attribute|%>
      <tbody>
        <td>
          <%= check_box_tag "selected[#{attribute.name}]", attribute.name.to_sym, false, onClick: "
        if($(this).is(':checked')){
          $('#dims_params_#{dim.name}_#{attribute.name}_value, #dims_params_#{dim.name}_#{attribute.name}_operator').attr('disabled',false);
        }else{
          $('#dims_params_#{dim.name}_#{attribute.name}_value, #dims_params_#{dim.name}_#{attribute.name}_operator').attr('disabled',true);
        };" %>
          <%= attribute.name %>
          <%= select("dims_params[#{dim.name}][#{attribute.name}]", "operator",attribute.dim_actions) %>
          <%= text_field "dims_params[#{dim.name}][#{attribute.name}]", "value",:class=> "input-small" %>
          <%if attribute.attribute_type == "string"%>
            <p class="select">
              <%= check_box_tag("group[#{dim.name}]", attribute.name.to_sym)%>
              <small>group</small> 
            </p>
          <%end%>
          <%if attribute.attribute_type == "integer" || attribute.attribute_type == "float" %>
            <p class="select">
              <%= check_box_tag("discrete[#{dim.name}]", attribute.name.to_sym)%>
              <small>discrete</small> 
            </p>
          <%end%>  
        </td>
      </tbody>
    <%end%>
  </table>
  <%=snow_dim_hidden_field_param(dim)%>
  