<h3><%=fact.name%></h3>
<h4>Show me</h4>
<table>	
	<% fact.table.attributes.each do |attribute| %>
		<tbody>
			<td>
				<%= check_box_tag "button_action", attribute.name, false, onClick: "
				if($(this).is(':checked')){
					$('#action_params_#{attribute.name}').attr('disabled',false);
				}else{
					$('#action_params_#{attribute.name}').attr('disabled',true);
				};" %>
			</td>	
				<td>
					<ul>
						<li><%=attribute.name%></li>
						<li class="attr"><%= select(:action_params, attribute.name, attribute.fact_actions)%></li>
					</ul>
				</td>
      <%if attribute.attribute_type == "string"%>
	      <td>
	      	<small>
	      		<%= check_box_tag("fact_group[#{fact.table_name}]", attribute.name.to_sym) %>
	       		group
	       	</small>
	      </td>
      <%end%>   	
		</tbody>
	<%end%>
</table>

<script type="text/javascript">
	$(document).ajaxComplete(function() {
		$('select, .input-small').attr('disabled', true);
	});
</script>